# Ignore documentation and team-shared folders
Documentation/
Sent\ By\ Team\ members/

# Ignore templates folder and common template file extensions
Templates/
*.template
*.tmpl
*.tpl

data/raw/
approot/data/raw/songs_with_attributes_and_lyrics.csv
/approot/data/raw
